body,
html {
    color:#000;
    background-color: #ddd;
    //font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
    padding:0px;
    margin:0px;
}

/* The "Information" Header */
#header {
    background-image:url('/static/basementfm-wikilogo.png');
    height:110px;
    background-repeat:no-repeat;
    background-color: #111;
}

/* Our Navigation Bar */
#navbar {
    /* text-align:center; */
    background-color: #444;
    border-top: 2px solid #555;
    border-bottom: 1px solid #555;
}

#navbar ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:20px;
}

#navbar li
{
    display:inline;
}

#navbar a:link, 
#navbar a:visited 
{
    font-weight:bold;
    color:#fff;
    text-align:center;
    padding:6px;
    text-decoration:none;
    //text-transform:uppercase;
}

#navbar a:hover, 
#navbar a:active
{
    background-color:#000; 
}

/* Content gets a white background and some attractive padding */
#content
{
    font-size: 13px;
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color:#fff;
    margin:10px;
    padding:10px;
}

#content a:link, 
#content a:visited
{
    text-decoration: none;
    color: #444;
}


/* Default (unless over-riden) table styles */
#content table
{
    border-collapse: collapse;
    font-size: 13px;
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;

}
#content th
{
    color:#fff;
    background-color:#444;
    padding:3px;
    padding-left:6px;
    padding-right:6px;
}

.rounded-left
{
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}

.rounded-right
{
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}

.float-right
{
    float: right;
}

#content td
{
    padding-left:6px;
    padding-right:6px;
}

/* Stylization for playlist specifics */
.playing
{
    background-color:#666;
    color:#fff;
}

/* Over-rides for forum posts */
#post
{
    padding-top: 10px;
}

#postheader
{
    color: #fff;
    font-weight: bold;
    background-color: #444;    
}

#postheader ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    padding-right:30px;
}

#postheader li
{
    display:inline;
}

#postauthor
{
    width: 180px;
    float: left;
    padding-left: 5px;
    padding-top: 3px;
}

#postwrapper
{
    overflow: hidden;
}

/*
#postsubject
{
}
*/

#postsubject h1
{
    font-size: 16px;
    font-weight:bold;
    border-bottom: 1px solid #555;
}

#postbody
{
    padding-top: 5px;
}