<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">corbe.net</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="{{ url_for('blog.blog_main') }}">Home</a></li>
	<li><a href="{{ url_for('forum.board_main') }}">Forum</a></li>
	<li><a href="{{ url_for('playlist') }}">Playlist</a></li>
	<li><a href="{{ url_for('static', filename='player-popup.html') }}" target="_blank">Listen</a></li>
      </ul>
      {% if api.logged_in(session) %}
      <form class="navbar-form navbar-right" action="{{ url_for('logout') }}" method="post">
        <div class="form-group">
          <button type="submit" class="btn btn-danger">Sign out</button>
	</div>
      </form>
      {% else %}
      <form class="navbar-form navbar-right" action="{{ url_for('login') }}" method="post">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" name="username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      {% endif %}
    </div><!--/.navbar-collapse -->
  </div>
</div>
