<html>

<head>
<title>Basement.FM: Coming Soon</title>
<link href="static/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="outer">
<div id="inner">
<img border=0 src="static/basement.fm.png">
</img>
</div>
</div>

<div id="navbar">
<ul>
<li><a href="http://basement.fm/wiki/">Wiki</a></li>
<li><a href="http://basement.fm/forum/">Community</a></li>
<li><a href="#">Listen</a></li>
<li><a href="http://basement.fm/blog/">Blog</a></li>
</ul>
</div> 

</body>

</html>

