<head>
<title>Login</title>
{% include 'common_header.html' %}
</head>

<body>
{% include 'header.html' %}

<div id="login">
<form method="post" action="{{ url_for('login', method='post') }}">
Login: <input type="text" id="username" name="username" /><br>
Password: <input type="password" id="password" name="password" /><br>
<input type="submit" /><br>

</form>
</div>

<p>Or <a href=http://www.corbe.net/forum/register>Click Here to Register</a>

{% include 'footer.html' %}
</body>
