<html>

<head>
<title>basement.fm: History</title>
{% include 'common_header.html' %}
</head>

<body>
  <!-- header -->
  {% include 'header.html' %}
  <!-- end of header -->
  
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th class="rounded-left">Artist</th>
	  <th>Title</th>
	    <th>Requested By</th>
	    <th>Rating</th>
	    <th class="rounded-right">Avg</th>
	  </tr>
	</thead>
	<tbody>
	  <form id="myForm" method="POST" action="/vote">
	    {% for song in history %}
	    <tr>
	      <td>{{ song['artist'] }}</td>
	      <td>{{ song['title'] }}</td>
	      <td>{{ song['username'] }}</td>
	      <td>
		{% if song['rating'] == 1 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="1" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="1"/>
		{% endif %}	      
		{% if song['rating'] == 2 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="2" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="2"/>
		{% endif %}	      
		{% if song['rating'] == 3 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="3" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="3"/>
		{% endif %}	      
		{% if song['rating'] == 4 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="4" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="4"/>
		{% endif %}	      
		{% if song['rating'] == 5 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="5" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="5"/>
		{% endif %}	      
	      </td>
	      <td>{{ song['average'] }}/5 ({{ song['votes'] }} votes)<td>
	    </tr>
	    {% endfor %}
	    <tr class="playing">
	      <td>{{ playing['artist'] }}</td>
	      <td>{{ playing['title'] }}</td>
	      <td>{{ playing['username'] }}</td>
	      <td>
		{% if playing['rating'] == 1 %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="1" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="1"/>
		{% endif %}	      
		{% if playing['rating'] == 2 %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="2" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="2"/>
		{% endif %}	      
		{% if playing['rating'] == 3 %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="3" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="3"/>
		{% endif %}	      
		{% if playing['rating'] == 4 %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="4" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="4"/>
		{% endif %}	      
		{% if playing['rating'] == 5 %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="5" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ playing['i_playing'] }}" value="5"/>
		{% endif %}	      
	      </td>
	      <td>{{ playing['average'] }}/5 ({{ playing['votes'] }} votes)</td>
	    </tr>
	    {% for song in requests %}
	    <tr>
	      <td>{{ song['artist'] }}</td>
	      <td>{{ song['title'] }}</td>
	      <td>{{ song['username'] }}</td>
	      <td>
		{% if song['rating'] == 1 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="1" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="1"/>
		{% endif %}	      
		{% if song['rating'] == 2 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="2" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="2"/>
		{% endif %}	      
		{% if song['rating'] == 3 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="3" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="3"/>
		{% endif %}	      
		{% if song['rating'] == 4 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="4" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="4"/>
		{% endif %}	      
		{% if song['rating'] == 5 %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="5" checked="checked"/>
		{% else %}
		<input type="radio" class="auto-submit-star" name="{{ song['i_song'] }}" value="5"/>
		{% endif %}	      
	      </td>
	      <td>{{ song['average'] }}/5 ({{ song['votes'] }} votes)</td>
	    </tr>
	    {% endfor %}
	  </form>
	</tbody>
      </table>
    </div>
  </div>
    
  {% include 'footer.html' %}
</body>

</html>
