<html>

<head>
<title>basement.fm: Search Results</title>
{% include 'common_header.html' %}
</head>

<body>
  {% include 'header.html' %}
  <div id=playlist>
    <table>
      <thead>
	<tr>
	  <th>Artist</th>
	  <th>Title</th>
	  <th>Request This Song!</th>
	</tr>
      </thead>
      <tbody>
	{% for song in results %}
	<tr>
	  <td>{{ song['artist'] }}</td>
	  <td>{{ song['title'] }}</td>
	  <td><a href=/request/{{ song['i_song'] }}>Request</a></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'footer.html' %}
</body>

</html>
