<!DOCTYPE html>
<html lang="en">

<head>
<title>corbe.net: Music Search Results</title>
{% include 'common_header.html' %}
</head>

<body>
  {% include 'header.html' %}

  {% if session['i_playlist'] > 0 %}
  <div class="container">
    <div class="text-center alert alert-info">
      <b>Heads Up!</b> you are managing the following playlist:
      <a class="alert-link" href="#">{{ playlist.name }}.</a>
      <a class="alert-link" href="#">Click here</a> to drop back to the request queue instead.</a>
    </div>
  </div>
  {% endif %}

  <div class="containter">
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th>Artist</th>
	    <th>Title</th>
	    <th>Request This Song!</th>
	  </tr>
	</thead>
	<tbody>
	  {% for song in results %}
	  <tr>
	    <td>{{ song['artist'] }}</td>
	    <td>{{ song['title'] }}</td>
	    {% if session['i_playlist'] > 0 %}
	    <td><a href="{{ url_for('playlist_addsong', i_user=session['i_user'], i_playlist=session['i_playlist'], i_song=song['i_song']) }}">Add to Playlist</a></td>
	    {% else %}
	    <td><a href="{{ url_for('request', i_song=song['i_song']) }}">Request</a></td>
	    {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>
