<html>
<head>
<title>OpenQT -- {{ thread.subject }}</title>
{% include 'common_header.html' %}
</head>

<body>
  {% include 'header.html' %}

  <div id="thread">
    {% for post in thread.posts %}
    <div id="post">
      {{ thread.resequence() }}
      <div id="postheader" class="rounded-left rounded-right">
	<ul>
	  <li class="float-right">
	    #{{ thread.sequence }}
	  </li>
	  <li>{{ time.ctime(post.ts) }}</li>
	</ul>
      </div>
      
      <div id="postauthor">
	{{ post.i_user.username }}
      </div>
      <div id="postwrapper">
	<div id="postsubject">
	  {% if thread.sequence == 1 %}
	  <h1>{{ post.subject }}</h1>
	  {% endif %}
	</div>	
	<div id="postbody">
	  {{ bbcode.render(post.post) }}
	</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id=quickreply>
    <h3>Quick Reply:</h3>
    <form method=post action=/thread/{{thread.id}}>
      <textarea name=postbody rows=6 cols=80></textarea>
      <input type="submit" />
    </form>
  </div>
  {% include 'footer.html' %}
</body>

</html>

