<html>
<head>
<title>{{ thread.subject }}</title>
{% include 'common_header.html' %}
</head>

<body>
  {% include 'header.html' %}

  <br/>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>{{ thread.subject }}</h2></div>
      <div class="panel-body">
	{% for post in thread.posts %}
	{{ thread.resequence() }}
	<div class="row">
	  <div class="col-lg-2">{{ post.i_user.username }}</div>
	  <div class="col-lg-10">
	    <div class="panel panel-primary">
	      <div class="panel-heading">#{{ thread.sequence }} {{ time.ctime(post.ts) }}</div>
	      <div class="panel-body">{{ bbcode.render(post.post) }}</div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	<div class="row">
	  <div class="col-lg-2"></div>
	  <div class="col-lg-10">
	    <div class="panel-heading"><h3>Quick Reply</h3></div>
	    <div class="panel-body">
	      <form role="form" method=post action=/thread/{{thread.id}}>
		<textarea name=postbody rows=8 cols=80></textarea>
		<input type="submit" />
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>

